<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/seeinvoice.css}"/>
    <link rel="icon" href="data:,">
    <title>Show Invoice</title>
</head>
<body>
    <div class="show-invoice">
        <div class="left-content">
            <div class="table-code">
                <b>TABLE CODE: <span th:text="${tableCode}"></span></b>
            </div>
            <div class="show-invoice-label">
                <label for="">XEM HOÁ ĐƠN</label>
            </div>
            <div><b>CHI TIẾT</b></div>
            <div class="status-button">
                <button class="details-button" type="button">Trạng thái món</button>
            </div>
            <div class="confirm-button">
                <button class="details-button" type="button">Xác nhận</button>
            </div>
            <p>Có thể thanh toán ngay bằng cách quét mã QR ở góc dưới bên phải!</p>
        </div>
        <div class="right-content">
            <div class="name-of-func">
                <div><b>XEM TRẠNG THÁI MÓN</b></div>
                <div><b>Mã hoá đơn: <span th:text="${invoiceId}"></span></b></div>
            </div>
            <div class="table-screen">
                <!-- Lặp qua danh sách các món ăn -->
                <div class="foot-form" th:each="invoice : ${invoiceList}" 
                     th:style="|background-image: url('@{/assets/img/foodimg.png}');|">
                    <div>
                        <div class="dish-name" th:text="${invoice.dishName}"></div>
                        <div class="div-bottom">Số lượng: <span th:text="${invoice.quantity}"></span></div>
                    </div>
                    <div class="price">
                        <span th:text="${#numbers.formatDecimal(invoice.totalPrice, 0, 'POINT', 'COMMA')}"></span>đ
                    </div>
                </div>
                <!-- Tổng tiền -->
                <div class="sum">
                    <div><b style="font-size: 20px;">TỔNG TIỀN: 
                        <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'POINT', 'COMMA')}"></span>đ</b>
                    </div>
                    <div><b>Điểm tích luỹ cộng thêm</b></div>
                    <div>
                        <b>Sử dụng điểm tích luỹ</b>
                        <input type="checkbox">
                    </div>
                    <div style="color: red;"><b>*Quẹt thẻ để sử dụng</b></div>
                </div>
                <!-- QR Code -->
                <div class="pay">
                    <div class="QR" th:style="|background-image: url('@{/assets/img/qrtest.png}');|"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>